body {

background-image: url(bond.jpg);
background-size: contain;
background-repeat: no-repeat;
background-position: center;
background-color: black;
color: gold;
margin-left: 300px

}

.container {

background-color: black ;
opacity: 50%;

}

div.transbox {
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 50%
}

div.transbox p {
    margin: 5%;
    font-weight: bold;
    color: #000000;
}

h1 {
    color: gold;
    background-color: black;
    opacity: 50%;
}

p {
    text-align: center;
    font-size: 18;
    color: gold


}

.choices {
    color: gold

}